/*loginページデザイン*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

/* headerページデザイン*/
.app-header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 50px; /* 高さを50pxに指定 */
    background: #CCC; /* 背景色にグレーを指定 */
    padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
}

.setting-actions {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 12px;
    border: 1px solid #ccc;
    gap: 8px;
}
/* text-decoration: none; リンクの下線を消したかったら*/
.setting-link {
text-decoration: none;
color: #0a0101;
font-weight: bold;
}

/*customページデザイン*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
    background-color: #f5f5f5;
}

.user-info,
.theme-setting,
.AI-setting {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #4CAF50; /* 緑色の枠線 */
    border-radius: 16px; /* 角を丸くする */
    padding: 30px;
    text-align: center;/* テキスト中央揃え */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: sans-serif;
}
