<!DOCTYPE html>
<html lang="ja">
<head>
    <meta chaeset="UTF-8">
    <title>設定画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
            {% include "header.html" %}
    </header>
    <script>
        if (window.location.pathname.includes("setting")) {
        document.querySelector(".setting-actions").style.backgroundColor = "#ae3e89";
        document.querySelector(".setting-link").style.color = "#fff";
        }
    </script>
    <main>
        <section class="user-info">
            <h2>ユーザー情報</h2>
            <p>現在ログインしているユーザーの情報です</p>
            <a href="パスワード変更画面へのpath">
                <span class="pathward-chenge-link">パスワードを変更</span>
            </a>
        </section>

        <section class="theme-setting">
            <h2>テーマ設定</h2>
            <p>アプリの表示テーマを設定できます</p>
            <select id="theme-select">
                <option value="light">ライトモード</option>
                <option value="dark">ダークモード</option>
            </select>
        </section>

        <section class="AI-setting">
            <h2>AI設定(デフォルト)</h2>
            <p>AI機能の出力形式や言語レベルを設定できます</p>
        </section>
    </main>
<button id="logout-btn">ログアウト</button>
<script>
    document.getElementById("logout-btn").addEventListener("click", function() {
        if (confirm("本当にログアウトしますか？")) {
            window.location.href = "/logout";
        }
    });
</script>
<button id="save-setting">設定を保存</button>
</body>
</html>