<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="login-container">
    <h2>ログイン</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color:red;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
      {{ form.hidden_tag() }}

        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id(size=20) }}<br>
            {% for error in form.user_id.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=16) }}<br>
            {% for error in form.password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('newUser') }}">新規登録はこちら</a></p>
  </div>
</body>
</html>
