<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="login-container">
    <h2 class="access_page">新規登録</h2>
    <p class="access_label">アカウントを作成してノートを管理しましょう</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="message">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id(size=20) }}<br>
            {% for error in form.user_id.errors %}
                <span class="message">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=16) }}<br>
            {% for error in form.password.errors %}
                <span class="message">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=16) }}<br>
            {% for error in form.confirm.errors %}
                <span class="message">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{form.submit(class="access_btn")}}</p>
    </form>
    <p class="access_label">アカウントをお持ちの方は<a href="{{ url_for('login') }}">こちら</a></p>
</div>
</body>
</html>
